@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* 'lightMode' */
  --clr-light: #ffffff;
  --clr-dark: #292929;
  --clr-break: #c7c7c7;
  --clr-text: #181818;
  --clr-nav: #cccccc;
  --clr-accent: #fae526;
  --clr-shadow: #2929292d;
  --clr-shadow-dark: #29292942;
}

.darkMode {
  --clr-light: #1a1a1a;
  --clr-dark: #d0d0d0;
  --clr-break: #7a7a7a;
  --clr-text: #eeeeee;
  --clr-nav: #363636;
  --clr-accent: #fad505;
  --clr-shadow: #41414165;
  --clr-shadow-dark: #42424242;
}

#root {
  margin: 0 auto;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--clr-light);
}

.nav-container {
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-nav);
}

.logo-container {
  width: 10%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.logo-img {
  margin: 0px 0px 0px 15px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-container {
  width: 10%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.social-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-container {
  width: 60%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.contact-link {
  text-decoration: none;
  margin: 0px 50px 0px 0px;
}

.contact-link-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-text);
  line-height: 1;
  padding: 0px;
  margin: 0px;
}

.page-container,
.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 100px);
  flex: 1;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  min-height: 800px;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8;
  color: var(--clr-dark);
  transform: scaleY(95%);
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.sub-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  color: var(--clr-text);
  line-height: 1;
  padding: 0px;
  margin: 10px 0px;
  transform: scaleX(120%);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 0px 0px 0px;
}

.home-button {
  border: 1px solid var(--clr-dark);
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  text-decoration: none;
  border-radius: 10px;
  z-index: 50;
  padding: 20px 20%;
}
.home-button:hover {
  transform: scale(102%);
  background-color: var(--clr-shadow);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s ease-in-out;
}
.home-button:active {
  transform: scale(98%);
  background-color: var(--clr-shadow-dark);
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s ease-in-out;
}

.home-button-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: var(--clr-dark);
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes widthGrow {
  from {
    width: 5%;
  }
  to {
    width: 32%;
  }
}

.contact-page-break {
  border: none;
  background-color: var(--clr-break);
  margin: 20px 0px 30px 0px;
  height: 10px;
  width: 5%;
  border-radius: 25px;
  transition: width 0.5s ease-out;
  animation: widthGrow 0.5s ease-out forwards;
}

.contact-content {
  width: 500px;
  border: 1px solid #777777;
  padding: 40px 20px 40px 20px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-screen);
  z-index: 50;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.email-form-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  line-height: 0.8;
  color: var(--clr-white);
  transform: scaleY(95%);
  margin: 0px 0px 30px 0px;
}

.name-input,
.email-input,
.message-input {
  cursor: text;
}

.name-input,
.email-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  border: 2px solid var(--clr-text);
  padding: 15px 15px;
  border-radius: 10px;
  width: 350px;
  margin: 2.5px 5px;
}
.message-input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: var(--clr-dark);
  background-color: var(--clr-light);
  border: 2px solid var(--clr-text);
  padding: 15px 15px;
  border-radius: 10px;
  width: 350px;
  margin: 5px;
  resize: vertical;
  max-height: 250px;
  min-height: 72px;
  margin: 2.5px 0px 20px 0px;
}
.name-input:hover,
.email-input:hover,
.message-input:hover {
  border: 2px solid var(--clr-accent);
}
.error {
  color: var(--clr-error);
}
.success {
  color: var(--clr-success);
}
.sending {
  color: var(--clr-break);
}
.error,
.success,
.sending {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  font-weight: 100;
  font-style: italic;
}

.submit-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: var(--clr-white);
  background-color: var(--clr-break);
  border: 1px solid var(--clr-break);
  cursor: pointer;
  margin: 22px 0px 0px 0px;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
  z-index: 50;
}
.submit-button:hover {
  transform: scale(102%);
  background-color: var(--clr-accent-dark);
  border: 1px solid var(--clr-break);
  color: var(--clr-accent);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s, box-shadow 0.2s ease-in-out;
}
.submit-button:active {
  transform: scale(98%);
  color: var(--clr-accent);
  transition: transform 0.2s;
}

.footer-container {
  border-top: 1px solid var(--clr-break);
  width: 100%;
  height: 50px;
  background-color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.footer-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  color: var(--clr-text);
  line-height: 1;
  padding: 0px;
  margin: 0px;
  transform: scaleY(85%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 0;
}
